<% if resource.errors.any? %>
  <%= render RubyUI::Alert.new(variant: :destructive, class: "mb-6") do %>
    <i class="fas fa-exclamation-circle"></i>
    <div class="space-y-2">
      <%= render RubyUI::AlertTitle.new do %>
        <%= I18n.t("errors.messages.not_saved",
                   count: resource.errors.count,
                   resource: resource.class.model_name.human.downcase) %>
      <% end %>

      <%= render RubyUI::AlertDescription.new do %>
        <ul class="list-disc pl-5 space-y-1">
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
<% end %>
