<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Ponto</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= yield :head %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body class="bg-background text-foreground">
  <% if user_signed_in? %>
    <%= render Components::Navigation::ShellComponent.new(current_user: current_user, request_path: request.path) do %>
      <%= render "shared/flash" %>
      <%= yield %>
    <% end %>
  <% else %>
    <%= render "shared/flash" %>
    <%= yield %>
  <% end %>
</body>
</html>
